{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link id="page-style" rel="stylesheet" type="text/css" href="{% static 'css/subscriber.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <title>Subscribe Now!</title>
</head>
<body onload="renderResult()">
    {% csrf_token %}
    <div id="res" class="result">
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/subscriber.js' %}" charset="utf-8"></script>
<script>
    function renderResult() {
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();

    $.ajax({
        method: 'POST',
        url: 'http://samueldimas.herokuappc.com/subscribe/subscriber/',
        headers: {
            "X-CSRFToken": csrftoken
        },
        success: function (result) {
            var length_arr = result.subscriberList.length;
            var data = result.subscriberList;
            for (var i = 0; i < length_arr; i++) {
                var name = data[i]['nama'];
                var email = data[i]['email'];
                var button = '<button class="btn" id=' + email + ' onclick=unsubscribe(this)>' + 'UNSUBSCRIBE' + '</button>';
                var show = '<div class = "hasil">' + name + " " + email + button + '</div>' ;
                var container = '<div>' + show + '</div>';
                $('.result').append(container)
            }
        }
    })
}

    function unsubscribe(t) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var email = t.id;
        $.ajax({
            method: 'POST',
            url: "{% url 'unsubscribe' %}",
            headers: {
                "X-CSRFToken": csrftoken
            },
            data: {email: email},
            success: function (res) {
                console.log('success');
                $('#res').replaceWith("<div id='res' class='result'></div>");
                var length_arr = res.now.length;
                var data = res.now;
                for (var i = 0; i < length_arr; i++) {
                    var name = data[i]['nama'];
                    var email = data[i]['email'];
                    var button = '<button class="btn" id=' + email + ' onclick=unsubscribe(this)>' + 'UNSUBSCRIBE' + '</button>';
                    var show = '<div class = "hasil">' + name + " " + email + button + '</div>' ;
                    $('.result').append(show)
                }
            }
        })
    }

</script>
</html>