{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link id="page-style" rel="stylesheet" type="text/css" href="{% static 'css/subscriber.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <title>Subscribe Now!</title>
</head>
<body>
    <div class="padding-content">
        <div class="center-item">
            <div class="form-item">
                <form action="POST">
                    {% csrf_token %}
                    <div class="enter">
                        <div id="form_subscribe" class="form_data">
                            <label for="{{ form.name.id_for_label }}">Name: </label>
                            
                            {{ form.name }}
                            <div id = "form_name" class = "alert"> *Name is required </div>
                        </div>
                        <div class="form_data">
                            <label for="{{ form.email.id_for_label }}">Email: </label>
                            {{ form.email }}
                            <div id = "form_email" class = "alert"> *Valid email is required </div>
                            <div id = "form_email2" class = "alert"> *Email already registered </div>
                        </div>
                        <div class="form_data">
                                <label for="{{ form.password.id_for_label }}">Password: </label>
                            {{ form.password }}
                        <div id = "form_password" class = "alert"> *Password is required </div>
                    </div>
                    <div class="button_subscribe">
                        <input class="submit btn btn-success" type="submit" id="submit_subscribe" value="SUBSCRIBE">
                    </div>
                    <br>
                    <div class="result_data">  <a class="result_subscribe btn btn-primary" href="{% url 'result' %}"> Subscriber </a> </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/subscriber.js' %}" charset="utf-8"></script>
</html>