body {
    background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
    font-family: "Montserrat", serif;
    overflow: hidden;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
}
  
#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    /* path to your loading animation */
    /* background-repeat: no-repeat; */
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.accordion {
    background-color: transparent;
    border-color: black;
    border-radius: 0.5rem;
    margin-top: 0.5vh;
    cursor: pointer;
    padding: 1em;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: black;
}

.bold {
    font-weight: 800;
}

.btn-height-ctrl {
    margin-top: 2vh;
}

.container {
    padding-top: 10vh;
    padding-bottom: 10vh;
}


.books {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.cont-list {
    margin-top:30px; 
    color:white; 
    border:5px solid white; 
    border-radius:1em 1em 1em 1em;
    margin: 0.5em auto;
    word-break: break-all; 
    word-wrap: break-word;

}

.container .main {
    padding-top: 0em;
}

.height-control {
    margin-top: 30vh;
}

.height-ctrl-btm {
    margin-bottom: 30vh;
}

.img-thumbnail {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}


.form-control {
    text-align: justify;
}

.panel {
    background-color: black;
    border-radius: 0.5rem;
    color: white;
    max-height: 0;
    margin-top: 0.5vh;
    overflow: hidden;
    padding: 0 18px;
    transition: max-height 0.2s ease-out;
    width: 50%;
}

.photo-margin {
    margin-bottom: 30px;
}

.profile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.site-form {
    margin: 4em auto 6em auto;
}

.status-entry {
    margin : 0.5em auto;
    word-break: break-all; 
    word-wrap: break-word;
}

.status-margin {
    margin-top: 10px;
}

.none-bg {
    background: transparent;
}

.white-text {
    color: white;
}

@media (min-width: 400px) {
    .container {
        max-width: 400px;
    }
}