* {
    text-decoration: none;
    border-width: 0px;
}

body {
    background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
	margin: 0;
	font-family: "Montserrat", serif;
    overflow-x: hidden;
    width: 100vw;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    height: auto;
    padding: 20px;
    text-align: center;
}

th {
    background-color: #1c3358;
    color: white;
}

table {
    width: 80vw;
    margin-bottom: 100px;
}

tr:nth-child(odd) {
    background-color: #e0e8f3;
}

tr:nth-child(even) {
    background-color: white;
}

.star-counter-con {
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}


.body-con {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.favor-button {
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: transparent;
    background-image: url("svg/blank-star.b2d981726636.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center center;
    transition-duration: .4s;
    transition-timing-function: ease-out;
}

.marked-favor-button {
    background-image: url("svg/filled-star.cf33ec77a7ca.svg");
}

.star-icon {
    height: 40px;
    margin-right: 10px;
    transition-duration: .4s;
    transition-timing-function: ease-out;
}

.star-icon:hover {
    transform: rotateY(360deg);
}

.counter-number {
    font-size: 1.2em;
}

.search-con {
    position: absolute;
    top: 20px;
    right: 20px;
}

.search-input {
    padding: 14px 18px;
}

#search-button {
    padding: 14px 18px; 
}
