body {
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    font-family: "Montserrat", serif;
}

.accordion {
    background-color: transparent;
    border-color: black;
    border-radius: 0.5rem;
    margin-top: 0.5vh;
    cursor: pointer;
    padding: 1em;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: black;
}

.bold {
    font-weight: 800;
}

.container {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.cont-list {
    margin-top:30px; 
    color:white; 
    border:5px solid white; 
    border-radius:1em 1em 1em 1em;
    margin: 0.5em auto;
    word-break: break-all; 
    word-wrap: break-word;

}

.container .main {
    padding-top: 0em;
}

.height-control {
    margin-top: 7vh;
}

.img-thumbnail {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}
.item-one {
    color: white;
}

.item-two {
    color: white;
}

.item-three {
    color: white;
}

.form-control {
    text-align: center;
}

.panel {
    background-color: white ;
    border-radius: 0.5rem;
    color: black;
    max-height: 0;
    margin-top: 0.5vh;
    overflow: hidden;
    padding: 0 18px;
    transition: max-height 0.2s ease-out;
    width: 50%;
}

.photo-margin {
    margin-bottom: 30px;
}

.profile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
}

.site-form {
    margin: 4em auto 6em auto;
}

.status-entry {
    margin : 0.5em auto;
    word-break: break-all; 
    word-wrap: break-word;
}

.status-margin {
    margin-top: 10px;
}

.none-bg {
    background: transparent;
}

.white-text {
    color: white;
}