body {
    background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
    font-family: "Montserrat", serif;
}

.alert {
    color: red !important;
}

.padding-content {
    min-height: 50vh;
}

.enter {
    display: inline-block;
}

.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    min-height: 100vh;
}

.form-item {
    background-color: white;
    border: 5px solid white;
    border-radius: 0.5rem;
    box-shadow: rgba(36, 37, 38, 0.13) 0px 0.25rem 1rem;
    margin-top: 30px;
    word-break: break-all;
    word-wrap: break-word;
}
