{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="{% static 'img/icon.png' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link id="page-style" rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <title>Status</title>
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="0">
        <div class="w-100 full-height d-flex align-items-center">
            <section class="container main">
                <div class="text-center">
                    <a href="{% url 'profile' %}" class="btn btn-dark none-bg">My profile</a>
                    <br>
                    <br>
                    <h1 class="bold white-text">Hello apa kabar?</h1>
                    <form class="site-form w-100" action="{% url 'status:add_status' %}" method="POST">
                        <div>
                            {% csrf_token %}
                            {% for field in status_form.visible_fields %}
                                {{ field }}
                            {% endfor %}
                        </div>
                        <button class="btn btn-dark height-control" type="submit">Create</button>
                    </form>
                    <div class="status-entries">
                        {% for s in statuses %}
                            <div class="cont-list">
                                <h4 class="bold white-text status-margin"><span>Timestamp: {{ s.time }}</span></h4>
                                <h4 class="bold white-text status-margin"><span>{{ s.text }}</span></h4>
                            </div>
                        {% empty %}
                            <h4 class="bold white-text">No status available!</h4>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>