{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="{% static 'img/icon.png' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link id="page-style" rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <title>Profile</title>
    </head>
    <body>
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <div class="profile-content white-text">
            <div>
                <img src="{% static 'status/img/hotman.jpg' %}" alt="Photo" class="img-thumbnail photo-margin">
                <h1>Hi! My name is Samuel.</h1>
                <h2>Full stack web developer, politics enthusiast</h2>
                <br>
                <a href="{% url 'status:index' %}" class="btn btn-dark">My status</a>
                <a href="#" class="btn btn-dark" id="toggle-style-sheet" onclick="toggle_style()" value="LIGHT">Change theme</a>
            </div>
        </div>
        <div class="container">
            <button class="accordion item-one">Activities</button>
            <div class="panel">
                <ul>
                    <li>Full stack web developer</li>
                    <li>Politics observer</li>
                    <li>Classical musician</li>
                </ul>
            </div>
            <button class="accordion item-two">Commitee experiences</button>
            <div class="panel">
                <ul>
                    <li>BEM Fasilkom UI 2018</li>
                    <li>The 25th Computers Get Together</li>
                    <li>PMB Fasilkom UI 2018</li>
                    <li>Pemira Fasilkom UI 2018</li>
                    <li>Indonesia Model United Nations 2018</li>
                </ul>
            </div>
            <button class="accordion item-three">Achievements</button>
            <div class="panel">
                <ul>
                    <li>1st winner for National Web and Application Development Comptetition</li>
                    <li>Best Speaker for Harvard World Model United Nations 2017</li>
                    <li>Best Technique for International Opera Competition</li>
                </ul>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'status/js/dropdown.js' %}"></script>
    <script>
        var normal_src = "{% static 'css/styles.css' %}";
        var revert_src = "{% static 'status/css/revert.css' %}"; 
    </script>
    <script type="text/javascript" src="{% static 'status/js/changeTheme.js' %}"></script>
    <script type="text/javascript" src="{% static 'status/js/preloader.js' %}"></script>
</html>